#border {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p {
	color: blue;
	display: inline;
}
#failscreen {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
}
body {
	background-color: black;
	
}
#score {
	position: absolute;
	top: 50px;
}
#scoreNumber {
	position: absolute;
	color: red;
	top: 50px;
}
#level {
	position: absolute;

}
#levelNumber {
	position: absolute;
	color: red;
}
#levelDiv {
	position: absolute;
	left: 100px;
	
}